.container {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}

.tabs {
  margin-bottom: 20px;
}

.formContainer {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.form {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form .ant-form-item {
  width: 100%;
}

.form .ant-form-item-label {
  text-align: left; /* 左对齐标签 */
}

.form .ant-form-item-control {
  text-align: left; /* 左对齐输入框 */
}

.table {
  margin-top: 20px;
  height: auto;
  max-height: 800px; /* Set a maximum height for the table */
  overflow-y: auto;  /* Enable vertical scrolling if content exceeds max-height */
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

